.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
button{
    margin-left:25%;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}