<!-- <div class="container mt-5" >
<h3>reactive-form</h3> <br><br>

<form class="row g-3" [formGroup]="form">
    <div class="col-md-12">
      <label for="username" class="form-label">UserName</label>
      <input 
      type="text" 
      class="form-control" 
      id="username"
      name="username"
      formControlName="UserName"
      >
     <div class="alert alert-danger" *ngIf="UserName.touched && UserName.invalid">

     </div>
    </div>
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" 
      class="form-control" 
      id="inputEmail4"
      name="email"
      formControlName="Email">
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text"
       class="form-control" 
       id="inputAddress"
        placeholder="1234 Main St"
        formControlName="Address"
        >
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div> -->