<app-navbar [fromParent]="navbarName"></app-navbar>
<!-- <app-post (btnMessage)="recievemessage($event)"></app-post><br><br> -->
{{receivedmsg}} 



<!-- class binding -->
<p [class.background-color]="bool">{{textclassbinding}}</p> <br>


<!-- property binding -->
<img [src]="imgUrl" alt=""> <br><br>

<!-- style binding -->
<h2><p [style.color]=" bool? 'blue' : 'red' ">{{textstylebinding}}</p></h2>


<!-- Event binding -->

<button class="btn btn-dark" (click)="clicked()" > Event binding</button> <br><br>

<!-- Event filtering -->
<input type="text" (keyup.enter)="Onkeyup(username.value)" #username placeholder="event filtering"> <br> <br>

<!-- Two way data binding -->

<input type="text" [(ngModel)]="userName" (keyup.enter)="keyUp()" placeholder="two-way binding"><br><br>

<app-form></app-form>
<app-user-form></app-user-form>
<app-pipes></app-pipes>
<app-template-form></app-template-form>
<app-reactive-form></app-reactive-form><br>


<button class="btn-primary mt-5 ms-5 mb-5" routerLink="/post">post component</button>
<button class="btn-primary mt-5 ms-5 mb-5" routerLink="/">Home</button>
<a routerLink="/post">post comp</a>

<router-outlet></router-outlet>