<p>{{title}}</p>
<app-post-lists [postlists]="postlist"></app-post-lists>
 <button class="btn-outline-success btn" (click)="sendMessage()">{{message}}</button> <br>
<br>

<!-- ngFor directive -->

<!-- from array -->
<h4> fetching from array</h4>

 <!-- angular change detection -->
 <button (click)="addData()">Add New</button> 
 <br><br>

 <div *ngIf='objArray.length > 0 ; else nodata'>
 <ul>
    <li *ngFor="let post of postArray;let i=index">{{post}}
        <button (click)="onDelete(i)">Delete</button>
    </li>
  
 </ul>
</div>
<ng-template #nodata>
 <p>there is no data to fetch</p>
</ng-template>

 <br>



<!-- from object array -->
<h4> fetching from object array</h4>

  <!-- angular change detection -->
  <button (click)="addNew()">Add New</button><br>
  <br>
<ol>
    <li *ngFor="let postobj of objArray">{{ postobj.post }}
        <button (click)="delete(postobj)">Delete</button>
    </li>
   
  </ol><br><br>

 
  <h4 [ngClass]="{borders:'bool',text:'bool'}"> switch case and attribute directive</h4> <!--  class directive -->
  
  <!-- switch case  and attribute directive-->
  <div>
    <button (click)="onclick('step 1')">step 1</button>
    <button (click)="onclick('step 2')">step 2</button>
    <button (click)="onclick('step 3')">step 3</button>
  </div>
  <br><br>
  
<div [ngSwitch]="stepForm">
  <!-- atribute directive -->
<div *ngSwitchCase="'step 1'" [ngStyle]="{color:bool ? 'red':'blue' ,
textTransform:bool? 'uppercase':'lowercase'}">Step 1 form</div>
<span *ngSwitchCase="'step 2'" [ngStyle]="{backgroundColor:bool ? 'green' : 'blue'}">Step 2 form</span>
<div *ngSwitchCase="'step 3'" [ngStyle]="{fontSize:bool ? '100px' : '10px'}">Step 3 form</div>
<div *ngSwitchDefault> <p>Something Else</p> </div>


</div>

