.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    margin-top: 200px;
}

.result {
    display: flex;
    justify-content: center;

    align-items: center;
    margin-top: 100px;


}
